@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes float {
  0%, 100% {
    transform: translateY(0) rotate(-20deg); /* Initial position and tilt angle */
  }
  50% {
    transform: translateY(-20px) rotate(-20deg); /* Floating up position */
  }
}

@keyframes float2 {
  0%, 100% {
    transform: translateY(0) rotate(20deg); /* Initial position and tilt angle */
  }
  50% {
    transform: translateY(-20px) rotate(20deg); /* Floating up position */
  }
}

.tilted-image-container-1 {
    top: 20%;
    left: 10%;
    width: 200px; /* Adjust the size as needed */
    height: 200px; /* Adjust the size as needed */
    transform: rotate(-20deg); /* Adjust the tilt angle as needed */
    z-index: 0;
    animation: float 3s ease-in-out infinite; /* Apply floating animation */
}

.tilted-image-container-2 {
    top: 20%;
    left: 10%;
    width: 200px; /* Adjust the size as needed */
    height: 200px; /* Adjust the size as needed */
    transform: rotate(20deg); /* Adjust the tilt angle as needed */
    z-index: 0;
    animation: float2 3s ease-in-out infinite; /* Apply floating animation */
}

.tilted-image {
    width: 100%;
    height: 100%;
}

:root {
  --black: #000;
  --white: #fff;
  --shadow: rgba(0,0,0,0.1);
  --px: 4px;
}

.bubble {
  position: absolute;
  display: inline-block;
  margin: calc(5 * var(--px));
  text-align: center;
  z-index: 2;
  font-size: 12px;
  line-height:1.3em;
  /* letter-spacing: -0.04em; */
  background-color: var(--white);
  color: var(--black);
  padding: calc(3 * var(--px));
  box-shadow: 
      0 calc(-1 * var(--px)) var(--white), 
      0 calc(-2 * var(--px)) var(--black), 
      var(--px) 0 var(--white), 
      var(--px) calc(-1 * var(--px)) var(--black), 
      calc(2 * var(--px)) 0 var(--black), 
      0 var(--px) var(--white), 
      0 calc(2 * var(--px)) var(--black), 
      calc(-1 * var(--px)) 0 var(--white), 
      calc(-1 * var(--px))  var(--px) var(--black), 
      calc(-2 * var(--px)) 0 var(--black), 
      calc(-1 * var(--px)) calc(-1 * var(--px)) var(--black), 
      var(--px) var(--px) var(--black);
  box-sizing: border-box;
  width:200px;
}

.bubble::after {
  content: '';
  display: block;
  position: absolute;
  box-sizing: border-box;    
}

.bubble.shadow { 
  box-shadow: 
      0 calc(-1 * var(--px)) var(--white), 
      0 calc(-2 * var(--px)) var(--black), 
      var(--px) 0 var(--white), 
      var(--px) calc(-1 * var(--px)) var(--black), 
      calc(2 * var(--px)) 0 var(--black), 
      0 var(--px) var(--white), 
      0 calc(2 * var(--px)) var(--black), 
      calc(-1 * var(--px)) 0 var(--white), 
      calc(-1 * var(--px))  var(--px) var(--black), 
      calc(-2 * var(--px)) 0 var(--black), 
      calc(-1 * var(--px)) calc(-1 * var(--px)) var(--black), 
      var(--px) var(--px) var(--black), 
      var(--px) calc(3 * var(--px)) var(--shadow), 
      calc(3 * var(--px)) var(--px) var(--shadow), 
      calc(2 * var(--px)) calc(2 * var(--px)) var(--shadow);
}

.bubble.mini { 
  width:110px; 
  /* font-size: 16px;  */
  padding: 4px; 
}
.bubble.medium { width:350px; }
.bubble.large { 
  width:560px; 
  font-size: 24px; 
  text-align:left; 
  text-transform:uppercase;
}
.bubble.grow { width:initial; }

.bubble.top::after {
  height: var(--px);
  width: var(--px);
  top: calc(-2 * var(--px));
  left: calc(8 * var(--px));
  box-shadow: 
      0 calc(-1 * var(--px)) var(--black), 
      0 calc(-2 * var(--px)) var(--black), 
      0 calc(-3 * var(--px)) var(--black), 
      0 calc(-4 * var(--px)) var(--black), 
      calc(-1 * var(--px)) calc(-3 * var(--px)) var(--black), 
      calc(-2 * var(--px)) calc(-2 * var(--px)) var(--black), 
      calc(-3 * var(--px)) calc(-1 * var(--px)) var(--black), 
      calc(-1 * var(--px)) calc(-1 * var(--px)) var(--white), 
      calc(-2 * var(--px)) calc(-1 * var(--px)) var(--white), 
      calc(-1 * var(--px)) calc(-2 * var(--px)) var(--white), 
      calc(-1 * var(--px)) 0 var(--white), 
      calc(-2 * var(--px)) 0 var(--white), 
      calc(-3 * var(--px)) 0 var(--white);
}

.bubble.right::after {
  height: var(--px);
  width: var(--px);
  top: calc(21 * var(--px));
  right: calc(-2 * var(--px));
  background: var(--white);
  box-shadow: 
      calc(1 * var(--px)) calc(-1 * var(--px)) var(--white),
      calc(1 * var(--px)) 0 var(--white),
      calc(2 * var(--px)) 0 var(--white),
      0 calc(-2 * var(--px)) var(--white),
      calc(1 * var(--px)) calc(1 * var(--px)) var(--black), 
      calc(2 * var(--px)) calc(1 * var(--px)) var(--black), 
      calc(3 * var(--px)) calc(1 * var(--px)) var(--black), 
      calc(4 * var(--px)) calc(1 * var(--px)) var(--black),
      calc(3 * var(--px)) 0 var(--black), 
      calc(2 * var(--px)) calc(-1 * var(--px)) var(--black), 
      calc(1 * var(--px)) calc(-2 * var(--px)) var(--black),
      0 calc(-1 * var(--px)) var(--white);
}

.bubble.bottom::after {
  height: var(--px);
  width: var(--px);
  bottom: calc(-2 * var(--px));
  left: calc(8 * var(--px));
  box-shadow: 
      0 var(--px) var(--black), 
      0 calc(2 * var(--px)) var(--black), 
      0 calc(3 * var(--px)) var(--black), 
      0 calc(4 * var(--px)) var(--black), 
      calc(-1 * var(--px)) calc(3 * var(--px)) var(--black), 
      calc(-2 * var(--px)) calc(2 * var(--px)) var(--black), 
      calc(-3 * var(--px)) calc(1 * var(--px)) var(--black), 
      calc(-1 * var(--px)) var(--px) var(--white), 
      calc(-2 * var(--px)) var(--px) var(--white), 
      calc(-1 * var(--px)) calc(2 * var(--px)) var(--white), 
      calc(-1 * var(--px)) 0 var(--white), 
      calc(-2 * var(--px)) 0 var(--white), 
      calc(-3 * var(--px)) 0 var(--white);
}

.bubble.left::after {
  height: var(--px);
  width: var(--px);
  top: calc(5 * var(--px));
  left: calc(-2 * var(--px));
  background: var(--white);
  box-shadow: 
      calc(-1 * var(--px)) calc(-1 * var(--px)) var(--white),
      calc(-1 * var(--px)) 0 var(--white),
      calc(-2 * var(--px)) 0 var(--white),
      0 calc(-2 * var(--px)) var(--white),
      calc(-1 * var(--px)) calc(1 * var(--px)) var(--black), 
      calc(-2 * var(--px)) calc(1 * var(--px)) var(--black), 
      calc(-3 * var(--px)) calc(1 * var(--px)) var(--black), 
      calc(-4 * var(--px)) calc(1 * var(--px)) var(--black),
      calc(-3 * var(--px)) 0 var(--black), 
      calc(-2 * var(--px)) calc(-1 * var(--px)) var(--black), 
      calc(-1 * var(--px)) calc(-2 * var(--px)) var(--black),
      0 calc(-1 * var(--px)) var(--white);
}